
<!DOCTYPE html>
<html>
 
<head>
    <title>Hello!</title>
</head>
 
<body>
    <h2></h2>
    <h4>Hi there, your partner has sent you a request from their account on the app, Date Night</h4>
 <!-- this section can be replaced by a child document -->  
{% block body %}
 
 
<p>Would you like to connect your account to theirs? You will be able to share ideas, date night inspo, and more!</p>
 

<p>If you would like to connect your accounts, Confirm using the link below, and sign into the app! </p>
<p>Have fun!</p>
 
{% endblock %}
 
 
</body>
 
</html>